*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container >div {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container > div> div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

