@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat",sans-serif;
}
/* span{
    display: inline-block;
} */
.container{
    max-width: 1024px;
    width: 100%;
    margin-inline:auto;
}

header{
    margin: 30px 0 ;
}



button{
    background-color:white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    margin: 3px;
}

table{
    width: 100%;
    text-align: left;
    table-layout: fixed;
    border-spacing: 0;

}

a{
    display: inline-block;
}

i{
    font-size: 30px;
}

.tag{
    display: inline-block;
    border-bottom: 3px solid #d21e5d;
    margin-bottom: 30px;
}

nav{
    position: relative;
}

.name_logo{
    position: absolute;
}

.name_logo__logo{
    display: inline-block;
    background-color: black;
    color: aliceblue;
    align-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
}

.name_logo__name{
    display:inline-block;
    font-weight: 500;
}

.social{
    display: inline-block;
    margin-left: 85%;
    
}
.social > span {
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
}

/* section1_sortInfor */
.sortInfor{
    margin-bottom: 25px;
}

.sortInfor table{
    width: 100%;
}

.img{
    width: 40%;
    position: relative;
}

figure img{
    display: block;
    width: 100%;
    height: 100%;

}
figure{
    width: 100%;
aspect-ratio: 3/3.5;}

.inf {
padding-left: 8%;
vertical-align: top;
}

.inf div{
    margin-bottom: 50px;
    margin-top: 10px;
}
.inf > p{
    font-weight: 600;
    /* margin-bottom: 20%; */
    font-size: xx-large;
}

.inf table{
    margin-top: 10%;
    width: 75%;
}

.inf table th{
    color: #d21e5d;
    font-weight: 900;
}
/* end section1 */

/* section2_aboutme */

.button_download {
    margin: 40px 40px;
    display: flex;
justify-content: center;
align-items: center;
}

.button_download button{
    background-color:white;
    padding: 10px;
    border: 2px solid #d21e5d;
    border-radius: 30px;
    color: #d21e5d;
}
/* end section2 */

/* section3_skill */
.skills{
    margin: 50px 0;
}
/* end section3 */


/* section4_work_experience */
.Work_experience tr{
    vertical-align: top;

}



.Work_experience .main{
    border-spacing: 0 5px;
    border-collapse: separate;
}


.Work_experience .main tr:nth-child(2){
    font-weight: 600;
}

.Work_experience .main tr:nth-child(3){
    font-size: 25px;
    font-weight: 200; 
}

.Work_experience .detail{
    border-spacing:0 25px  ;
    border-collapse: separate;
    padding-right: 5px;
    
}

.Work_experience ul{
    list-style-position: inside
}
/* 
icon must be radius
marginleft main and detail are diffrent??
float:right for social
box-sizzing: boder-bocx: default boder
box-sizzing: contentbox: default content
object-fit:cover/
text-trainform
vertical-align:top
display:flex: all child in them is displlay inline-block
justtify-content: control content ngangg
aline-item: control iteam: docj
*/